# 2.1. Data structure - preg

In [1]:
library(reshape2)
set.seed(1014)

preg <- matrix(c(NA, sample(20, 5)), ncol = 2, byrow = T)
colnames(preg) <- paste0("treatment", c("a", "b"))
rownames(preg) <- c("John Smith", "Jane Doe", "Mary Johnson")

preg
t(preg)

             treatmenta treatmentb
John Smith   NA         13
Jane Doe     12          5
Mary Johnson  6         15

           John Smith Jane Doe Mary Johnson
treatmenta NA         12        6
treatmentb 13          5       15

In [2]:
# Make tidy version

pregm <- melt(preg, id = "name")
names(pregm) <- c("name", "trt", "result")
pregm$trt <- gsub("treatment", "", pregm$trt)

pregm

  name         trt result
1 John Smith   a   NA
2 Jane Doe     a   12
3 Mary Johnson a    6
4 John Smith   b   13
5 Jane Doe     b    5
6 Mary Johnson b   15