# 3.1. Column headers are values, not variable names - melt

In [1]:
library(reshape2)

df <- data.frame(row = LETTERS[1:3], a = 1:3, b = 4:6, c = 7:9)
df

dfm <- melt(df, id = "row")
names(dfm)[2] <- "column"
dfm

  row a b c
1 A   1 4 7
2 B   2 5 8
3 C   3 6 9

  row column value
1 A   a      1
2 B   a      2
3 C   a      3
4 A   b      4
5 B   b      5
6 C   b      6
7 A   c      7
8 B   c      8
9 C   c      9