# 4.3. Modelling - t-test

In [1]:
# From Ben Bolker
library(reshape2)
library(lme4)
set.seed(1001)

x <- rnorm(5, 20, 1)
y <- x + rnorm(5, 2, 1)
df1 <- data.frame(id = seq_along(y), x = x, y = y)
df2 <- melt(df1, id = "id")

df1
df2

t1 <- t.test(df1$x, df1$y, paired = TRUE)
m1 <- lmer(value ~ variable + (1 | id) , data = df2, REML = TRUE)

all.equal(abs(t1$statistic), coef(summary(m1))["variabley","t value"])

# The t statistic is (almost) the same. (all.equal() reports a relative
# difference of 4.618215e-07). REML=TRUE isn't necessary (it's the
# default) but it emphasizes the fact that the paired t test is exactly
# equivalent to REML.

Loading required package: Matrix

  id x        y
1 1  22.18865 24.04509
2 2  19.82245 22.91395
3 3  19.81472 21.19178
4 4  17.49346 18.58600
5 5  19.44269 19.84898

   id variable value
1  1  x        22.18865
2  2  x        19.82245
3  3  x        19.81472
4  4  x        17.49346
5  5  x        19.44269
6  1  y        24.04509
7  2  y        22.91395
8  3  y        21.19178
9  4  y        18.58600
10 5  y        19.84898

[1] "names for target but not for current"
[2] "Mean relative difference: 2.486978e-05"