# 3.3. Variables are stored in both rows and columns - weather

In [1]:
options(stringsAsFactors = FALSE)
library(stringr)
library(reshape2)
library(plyr)

# source("read-fwf.r")
read.fwf2 <- function(path, cols) {
  raw_stations <- readLines(path)
  stations <- data.frame(matrix(ncol = 0, nrow = length(raw_stations)))

  for(i in 1:nrow(cols)) {
    field <- cols[i, ]
    stations[[field$name]] <- str_trim(str_sub(raw_stations, field$start, field$end))
  }
  stations[stations == ""] <- NA
  stations[] <- lapply(stations, type.convert, as.is = TRUE)
  
  stations
}

In [2]:
# Define format for fixed width file
cols <- data.frame(
  name =  c("id", "year", "month", "element"),
  start = c(1,     12,    16,      18),
  end =   c(11,    15,    17,      21))

names <- str_c(c("value", "mflag", "qflag", "sflag"), rep(1:31, each = 4), sep = "_")
start_end <- cumsum(c(22, rep(c(5, 1, 1, 1), 31)))
starts <- start_end[-length(start_end)]
ends <- c(start_end[-1]) - 1
# Old code
#starts <- cumsum(c(22, rep(c(5, 1, 1, 1), 31)))
#starts <- starts[-length(starts)]
#ends <- c(starts[-1], starts[length(starts)] + 1) - 1

values <- data.frame(name = names, start = starts, end = ends)
cols <- rbind(cols, values)

In [3]:
dim(cols)
head(cols, 10)

[1] 128   3

   name    start end
1  id       1    11
2  year    12    15
3  month   16    17
4  element 18    21
5  value_1 22    26
6  mflag_1 27    27
7  qflag_1 28    28
8  sflag_1 29    29
9  value_2 30    34
10 mflag_2 35    35

In [4]:
# Load data and subset to small example
raw <- read.fwf2("../../data/weather.txt",  cols)

In [5]:
dim(raw)
head(raw)

[1] 1714  128

  id          year month element value_1 mflag_1 qflag_1 sflag_1 value_2
1 MX000017004 1955 4     TMAX    310     NA      NA      I       310
2 MX000017004 1955 4     TMIN    150     NA      NA      I       150
3 MX000017004 1955 4     PRCP      0     NA      NA      I         0
4 MX000017004 1955 5     TMAX    310     NA      NA      I       310
5 MX000017004 1955 5     TMIN    200     NA      NA      I       160
6 MX000017004 1955 5     PRCP      0     NA      NA      I         0
  mflag_2 ... qflag_29 sflag_29 value_30 mflag_30 qflag_30 sflag_30 value_31
1 NA      ... NA       I        320      NA       NA       I        -9999
2 NA      ... NA       I        160      NA       NA       I        -9999
3 NA      ... NA       I          6      NA       NA       I        -9999
4 NA      ... NA       I        300      NA       NA       I          290
5 NA      ... NA       I        150      NA       NA       I          160
6 NA      ... NA       I          0      NA       NA       I           46
  mflag_31 qflag_31 sflag_31
1 NA       NA       NA
2 NA       NA       NA
3 NA       NA       NA
4 NA       NA       I
5 NA       NA       I
6 NA       NA       I

In [6]:
raw <- subset(raw, year == 2010 & element %in% c("TMIN", "TMAX"))
raw <- raw[, c(1:4, which(str_detect(names(raw), "value")))]
raw$id <- str_c(str_sub(raw$id, 1, 2), str_sub(raw$id, -5, -1))

names(raw)[-(1:4)] <- str_c("d", 1:31)
raw[raw == -9999] <- NA
raw[-(1:4)] <- raw[-(1:4)] / 10
rownames(raw) <- NULL
raw$element <- tolower(raw$element)

In [7]:
dim(raw)
head(raw)

[1] 22 35

  id      year month element d1 d2   d3   d4 d5   d6 ... d22 d23  d24 d25 d26
1 MX17004 2010 1     tmax    NA   NA   NA NA   NA NA ... NA    NA NA  NA  NA
2 MX17004 2010 1     tmin    NA   NA   NA NA   NA NA ... NA    NA NA  NA  NA
3 MX17004 2010 2     tmax    NA 27.3 24.1 NA   NA NA ... NA  29.9 NA  NA  NA
4 MX17004 2010 2     tmin    NA 14.4 14.4 NA   NA NA ... NA  10.7 NA  NA  NA
5 MX17004 2010 3     tmax    NA   NA   NA NA 32.1 NA ... NA    NA NA  NA  NA
6 MX17004 2010 3     tmin    NA   NA   NA NA 14.2 NA ... NA    NA NA  NA  NA
  d27 d28 d29 d30  d31
1 NA  NA  NA  27.8 NA
2 NA  NA  NA  14.5 NA
3 NA  NA  NA    NA NA
4 NA  NA  NA    NA NA
5 NA  NA  NA    NA NA
6 NA  NA  NA    NA NA

In [8]:
# Melt and tidy

clean1 <- melt(raw, id = 1:4, na.rm = T)
clean1$day <- as.integer(str_replace(clean1$variable, "d", ""))
clean1$date <- as.Date(ISOdate(clean1$year, clean1$month, clean1$day))

clean1 <- clean1[c("id", "date", "element", "value")]
clean1 <- arrange(clean1, date, element)

In [9]:
dim(clean1)
head(clean1)

[1] 66  4

  id      date       element value
1 MX17004 2010-01-30 tmax    27.8
2 MX17004 2010-01-30 tmin    14.5
3 MX17004 2010-02-02 tmax    27.3
4 MX17004 2010-02-02 tmin    14.4
5 MX17004 2010-02-03 tmax    24.1
6 MX17004 2010-02-03 tmin    14.4

In [10]:
# Cast

clean2 <- dcast(clean1, ... ~ element)

In [11]:
dim(clean2)
head(clean2)

[1] 33  4

  id      date       tmax tmin
1 MX17004 2010-01-30 27.8 14.5
2 MX17004 2010-02-02 27.3 14.4
3 MX17004 2010-02-03 24.1 14.4
4 MX17004 2010-02-11 29.7 13.4
5 MX17004 2010-02-23 29.9 10.7
6 MX17004 2010-03-05 32.1 14.2